{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutattribut.css') }}"/>
{% endblock %}

{% block body %}
<form action="{{ path('imerir_produit_save_attributs') }}">
	<label for="nom">Nom : </label>
	<input type="text"/><br>
	<div id="lst_attribut">
		<p class="titre_ajoutattribut">Ajouter des valeurs</p>
		<p>Rouge<i class="fa fa-minus-square supprimer"></i></p>
		<p id="last"><input type="text"><i class="fa fa-plus-square ajout" id="ajouterBtn"></i></p>
	</div>
	
	<input type="submit"/>
</form>

{% endblock %}

{% block javascripts %}
<script>
	$('#ajouterBtn').click(function () {
		var last = $('#last');
		var input = $(last).children("input");
		
		if (input.val() == "") {
			input.select();
			alert("ddd");
			return false;
		} 
	});
</script>
{% endblock %}