{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>
{% endblock %}

{% block affichage %}
    <form action="{{ path('imerir_produit_validation_creation_produit') }}" method="post" id="formulaire_creation_produit">
        <div id="lst_ligne_produit">
            <p class="liste_lp">Ligne produit</p>
            <p class="liste_lp_val">
                <select name="nomLigneProduit">
                    {% for i in ligne_produit %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <div id="divNomProduit">
            <label for="référence du produit">Référence produit: </label>
            <input type="text" name="nomProduit"/>
            <input type="submit" value="Ajouter">
        </div>
    </form>
    {% if app.request.attributes.get('_route')=='imerir_produit_validation_creation_ligne_produit' %}
        <p class="validation_message">Le produit a bien été ajouté</p>
    {% endif %}
{% endblock %}