/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
src/Imerir/NoyauBundle/Controller/DefaultController.php.BACKUP.2358.php
src/Imerir/NoyauBundle/Controller/DefaultController.php.BASE.2358.php
src/Imerir/NoyauBundle/Controller/DefaultController.php.LOCAL.2358.php
src/Imerir/NoyauBundle/Controller/DefaultController.php.orig
src/Imerir/NoyauBundle/Controller/DefaultController.php.REMOTE.2358.php
