{% extends "::base.html.twig" %}

{% block title_page %}
{% endblock %}

{% block affichage %}
<fieldset id="fieldset_ajout">
	<legend id="titre_fieldset" >{% block title_ajout %}AJOUT{% endblock %}</legend>    
	{% block ajout %}{% endblock %}
</fieldset>

<fieldset id="fieldset_recherche">
	<legend id="titre_fieldset" >{% block title_recherche %}RECHERCHE{% endblock %}</legend> 
	{% block recherche %}{% endblock %}
	{% block tableaux %}
		<table>
			{% block table %}
			{% endblock %}
		</table>
	{% endblock %}
	{% block bouton_export %}{% endblock %}
</fieldset>
{% endblock %}

