<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('../vendor/components/font-awesome/css/font-awesome.css') }}"/>
    </head>
    <body>
    	<div id="header">
    		<i id="logo_logiciel" class="fa fa-laptop fa-3x"></i>
    		<h1>ALBA</h1>
    	</div>
    	
    	<div id="contenu">
    		<h2>Formulaire d'identification</h2>
	        <form action="{{ path('imerir_noyau_check') }}" method="get" id="formulaire_authentification">
			    <label id="ecriture">Identifiant :</label>
				<input type="text" name="utilisateur">
				<br>
				<label id="ecriture">Mot de passe :</label>
				<input type="password" name="mot_de_passe"><br>
				<button type="submit" value="bt_valider_identification">Valider</button>
			</form>
        </div>
    </body>
</html>
