
#affichage {	
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 55px;
	z-index: 1;
 	background-color: RGB(230,230,230);
	overflow: auto;
}

#fieldset_ajout, #fieldset_recherche {
	margin: 20px;
	border-radius: 5px;
	background-color: RGB(249,249,249);
    border: 1px solid #669900;
}

#div_recherche {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 7px;
}

#titre_fieldset {
	border: 1px solid RGB(150,150,150);
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	
	background-color: #669900;
	color: white;
}

.tableau {
	background: RGB(220,220,220);
	border-radius: 5px;
	heigth: auto;
	padding: 0.5%;
	margin: 2%;
}

.tableau_contact {
	background: RGB(220,220,220);
	border-radius: 5px;
	heigth: auto;
	padding: 0.5%;
	margin: 0.1%;
	width: 100%;
}
.tableau_contact th {
	background: #0099CC;
	border-radius: 5px 5px 0 0;
	color: RGB(249,249,249);
	padding-left: auto;
	padding-right: auto;
	padding-top: 3px;
	padding-bottom: 3px;
}

.tableau_contact td {
	border-radius: 2px;
	height: auto;
	width: auto;
	text-align: center;
}


.tableau_contact tr:nth-child(even) {
	cursor: pointer;
	background-color: RGB(249,249,249);
}

.tableau_contact tr:nth-child(odd) {
	cursor: pointer;
	background-color: RGB(237,237,237);
}

.tableau_contact tr:hover {
	background-color: #ffedca;
}

.tableau th {
	background: #0099CC;
	border-radius: 5px 5px 0 0;
	color: RGB(249,249,249);
	padding-left: auto;
	padding-right: auto;
	padding-top: 3px;
	padding-bottom: 3px;
}

.tableau td {
	border-radius: 2px;
	width: auto;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
}

.tableau tr:nth-child(even) {
	cursor: pointer;
	background-color: RGB(249,249,249);
}

.tableau tr:nth-child(odd) {
	cursor: pointer;
	background-color: RGB(237,237,237);
}

.tableau tr:hover {
	background-color: #ffedca;
}

.commande_input {
    width: 90%;
    /*height: 10%;*/
    margin: 0px;
}



#title_page {
	text-align: center;
	margin: 10px;
	padding: 7px 10px;
	background-color: #669900;
	font-size: 14pt;
	font-variant: small-caps;
	border-radius: 5px 5px 5px 5px;
	color: white;
	-moz-box-shadow: inset 0px -10px 30px -10px RGB(180,180,180);
	-webkit-box-shadow: inset 0px -30px 25px -10px RGB(180,180,180);
	-o-box-shadow: inset 0px -10px 30px -10px RGB(180,180,180);
	box-shadow: inset 0px -10px 30px -10px RGB(180,180,180);
}

input[type="submit"] {
	display: inline;
	margin-right: 0px;
	min-width: 100px;
	height: 29px;
	font-size: 11pt;
	border: 1px solid #0088BB;
	background-color: #0099CC;
	border-radius: 5px;
	color: white;
	margin-top: 1px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #00AADD;
}

.bouton {
	display: inline-block;
	margin-right: 0px;
	min-width: 100px;
	font-size: 11pt;
	border: 1px solid #0088BB;
	background-color: #0099CC;
	border-radius: 5px;
	color: white;
	margin-top: 5px;
	cursor: pointer;
	text-align: center;
	maring-right: 5px;
	text-decoration: none;
	padding: 0 4px;
	line-height: 29px;
	height: 32px;
	vertical-align: middle;
}

.bouton:hover {
	background-color: #00AADD;
}

.boutonSelected {
	background-color: #0077BB;
}

.bouton i {
	padding-right: 10px;
}

.ajout {
	color: green;
	cursor: pointer;
	font-size: 15pt;
	vertical-align: middle;
}

.recherche {
	color: darkgreen;
	cursor: pointer;
	font-size: 15pt;
	vertical-align: middle;
}

.supprimer {
	color: red;
	cursor: pointer;
	font-size: 15pt;
	vertical-align: middle;
}

.modifier {
	color: orange;
	cursor: pointer;
	margin-left: 4px;
	font-size: 15pt;
	vertical-align: middle;
}

.num_page {
	color: orange;
	text-decoration: none;
	margin-right: 4px;
}

.num_page:hover {
	color: #00AADD;
}

.selected_page {
	font-weight: bold;
	color: red;
}

#div_num_page {
	background-color: white;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
