#message_accueil {
	min-height: 350px;
	vertical-align: middle;
	margin-top: 150px;
	text-align: center;
}

#message_accueil h2 {
	text-align: center;
	font-size: 25pt;
	color: #3A3A3A;
	letter-spacing: 0.5pt;
	font-family: arial;
	font-variant: small-caps;
}

#chargement h2 {
	text-align: center;
	font-size: 25pt;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #3A3A3A;
	letter-spacing: 0.5pt;
	font-family: arial;
}

#chargement i {
	margin-right: 10px;
}

#chargement_caisse {
	height: 0;
	text-align: center;
	font-size: 15pt;
	color: #3A3A3A;
	letter-spacing: 0.5pt;
	font-family: arial;
}

#chargement_caisse span {
	heigth: 20px;
}

#contenneur_caisse h2 {
	border-bottom: 1px solid #5F5F5F;
	font-family: arial;
	color: #3A3A3A;
	padding-left: 10px;
}

#contenneur_caisse form {
	border: 1px solid black;
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}

#enTete {
	font-family: arial;
	border-bottom: 2px solid #5F5F5F;
	padding-top: 30px;
	margin-bottom: 30px;
	font-size: 13pt;
}

.tdQuantite {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18pt;
	width: 25%;
}

.tdQuantite input {
	width: 100px;
}

.tdPromo {
	padding-left: 5px;
	font-size: 16pt;
	padding-right: 5px;
	width: 25%;
}

.tdPromo input {
	width: 50%;
}

.tdTotal {
	font-size: 16pt;
	text-align: right;
	font-weight: bold;
	color: #3A3A3A;
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.tdPrix {
	text-align: right;
	font-size: 13pt;
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.tdCodeBarre {
	padding:0;
	margin: 0;
	width: 25%;
}

.tdCodeBarre input {
	width: 95%;
}

#prixTotal {
	float: right;
}

#dateSpan {
	float: right;
}

#contenneurCaisse tableauCaisse {
	border: 2px solid black;
	background-color: orange;
}

#tableauCaisse {
	border-radius: 5px;
	heigth: auto;
	margin-bottom: 50px;
}

#tableauCaisse th {
	border-radius: 5px 5px 0 0;
	padding: 10px 0;
	font-size: 12pt;
	font-family: arial;
}

#tableauCaisse td:first-child {
	font-size: 17pt;
	text-align: center;
}

#tableauCaisse td {
	border-radius: 2px;
	height: 50px;
}

#tableauCaisse td input{
	height: 35px;
	font-size: 12pt;
}

#btnCaisse {
	float: right;
	margin-left: 20px;
}

#divBoutonOption {
	border-bottom: 1px solid #669900;
	padding-bottom: 7px;
}

#dialogSaisiCodeBarre {
	text-align: center;
}

.moinsQuantite {
	color: #0099CC;
	vertical-align: middle;
}

.moinsQuantite:hover {
	color: #33B5E5;
}

.plusQuantite {
	color: #0099CC;
	vertical-align: middle;
	margin-right: 20px;
}

.plusQuantite:hover {
	color: #33B5E5;
}
