#lst_attribut {
	border: 1px solid #DEDEDE;
	background-color: #EDEDED;
}

#lst_attribut p {
	border: 1px solid #DEDEDE;
	margin: 0;
}

.ajout {
	color: green;
	float: right;
}

.last {
	color: red;
	float: right;
}