{% extends "::baseAffichage.html.twig" %}

{% block title_page %}
Facture
{% endblock %}

{% block title %}
ALBA - Facture
{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ asset('bundles/imerirvente/css/.css') }}"/> #}
{% endblock %}

{% block title_ajout %}Facture{% endblock %}

{% block ajout %}

{% endblock %}

{% block recherche %}
	<label>Date:</label><input type="text" id="datepicker" size="20"></p>
{% endblock %}

{% block table %}
	
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}

