{% extends "::baseAffichage.html.twig" %}

{% block title_page %}
Statistiques des ventes
{% endblock %}

{% block title %}
ALBA - Statistiques
{% endblock %}

{% block venteBlock %}
menuSelected
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block ajout %}
<div><canvas id="myChart" width="600" height="400"></canvas></div>
{% endblock %}

{% block recherche %}
{% endblock %}

{% block table %}
	<tr><th>Nom</th><th>Valeurs possibles</th></tr>
{% endblock %}

{% block javascripts %}
<script>
var buyerData = {
        labels : [
              {% for i in axeX %}
                  "{{ i }}",
              {% endfor %}
        ],
        datasets : [
        {
            fillColor : "rgba(203,54,54, 0.75)",
            strokeColor : "#cb3636",
            pointColor : "#fff",
            pointStrokeColor : "#9DB86D",
            data : [
				{% for j in axeY %}
				"{{ j }}",
				{% endfor %} 
            ]
        }
    ]
    }
var options = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : true,
    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",
    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,
    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 50, // This is 0 for Pie charts
    //Number - Amount of animation steps
    animationSteps : 100,
    //String - Animation easing effect
    animationEasing : "easeOutBounce",
    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,
    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : false,
};

var ctx = $("#myChart").get(0).getContext("2d");
var myDoughnutChart = new Chart(ctx).Line(buyerData);

</script>
{% endblock %}

