.select_ligne {
	text-align: center;
}

.feuille_facture {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: white;
	border-top:0.8px solid black;
	border-bottom:0.8px solid black;
}

#logo_facture {
	text-align: center;
/* 	border: 2px solid orange; */
}

#logo_facture h1 {
	color: black;
}

#information {
	width: 100%;
	height: auto;
/* 	border: 2px solid yellow; */
}

#information_facture {
/* 	border: 2px solid red; */
	width: 50%;
	text-align: left;
	float: left;
	padding-left: 2%;
/* 	color: #FF00FF; */
}

#information_entreprise {
/* 	border: 2px solid green; */
	margin-left: 50%;
	padding-right: 2%;
	text-align: right;
}

#detail_sur_client {
/* 	border:2px solid red; */
	padding-left: 4%;
	padding-top: 2%;
}


#tableau_facture {
	width: auto;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 2%;
}

#tableau_detail_facture {
	width: 100%;
	border-collapse: collapse;
	margin-top: 3%;
	border: 1px solid black;
}

#tableau_detail_facture tr {
	width: 100%;
/* 	border: 1px solid black; */
}

#tableau_detail_facture th {
	padding-left: auto;
	padding-right: auto;
	border: 1px solid black;
}

#tableau_detail_facture td {
	border: 0.9px solid black;
}

.col_article {
	width: 45%;
}

.col_article_contenu {
	width: 45%;
	text-align: left;
	padding-left: 2%;
}

.tva {
	text-align: right;
}

.en_gras_souligner {
	text-decoration:underline;
	font-weight:bold;
}

.en_gras{
	font-weight:bold;
}

#bas_de_page_facture {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 1%;
	text-align: center;
}

#last {
	border-top: 2px solid black;
}

@media print{
	body * {
		visibility: hidden;
		background-color: white;
	}
	
	.feuille_facture {
		visibility: visible;
		height: 96%;
        width: 99.7%;
        position: fixed;
        top: 0px;
        left: 0px;
        margin: auto;
        font-size: 13pt;
        padding-top:1cm;
	}
	
	#logo_facture {
		margin-top: 1.5cm;
		height: 4cm;
	}
	
	h1 {
		font-size: 32px;
	}
	
	#information_facture {
		height: 5cm;
	}
	
	#detail_sur_client {
		font-size: 20pt;
	}
	
	#information_entreprise {
		font-size: 20pt;
	}
	
	#tableau_detail_facture {
		margin-left: 0.5cm;
		width: 95%;
	}
	
	#tableau_detail_facture th,td{
		height: 1cm;
	}
	
	#bas_de_page_facture {
		position: absolute;
		bottom: 0;
	}
	
	.feuille_facture * {
		visibility: visible;
	}
	
}
