.legende li {
	list-style: none;
}

.legende li span {
	margin-right: 10px;
	vertical-align: middle;
	margin-bottom: 2px;
}

.graphiqueConteneur {
	text-align: center;
	padding-left:20%;
}

.choixGraph {
	padding-bottom: 10px;
	border-bottom: 1px solid #669900;
}

.ui-datepicker-calendar {
    display: none;
}​
