{% extends "::base.html.twig" %}

{% block title %}
Index
{% endblock %}

{% block sousMenu %}
	<div id="sousMenu">
	
    </div>
{% endblock %}


{% block affichage %}
	<div id="affichage">
	
    </div>
{% endblock %}